* {
  box-sizing: border-box;   
}

body {
  display: block;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 0 3vw 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  margin: 0px;
  background-color: #fc7600;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-weight: bold;
  z-index: 9999;
  width: 100%;   
}

.header h1 {
  margin: 0;
  font-size: 50px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* CSS for About section */
.About {
  margin: 20px;
}

.About > h2 {
  margin: 0;
}

.aboutText {
  padding: 2em;
  border: 3px solid rgb(1, 0, 5);
  border-radius: 15px;
  margin-bottom: 30px;
}

.aboutQuote {
  padding: 2em;
  border: 3px solid rgb(1, 0, 5);
  border-radius: 15px;
}

/* CSS for the Degrees section */
.Degrees {
  width: 90%;
  margin: 20px auto;
}

.degreeTypeTitle {
  padding: 1em;
  border: 3px solid rgb(1, 0, 5);
  border-radius: 5px;
  background-color: #fc7600;
  color: white;
}
 
.degreeTypeTitle h2 { /* just to center the titles vertically ;3 */
  margin: 0;  
}

/* CSS for Minors and the Carousel/Modal */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);   /* Make the arrows darker instead of white so it stops beomcing invisible in the modal*/
}

.modal { /* hot fix for modal to stop header from blocking top lines of modal*/
  z-index: 10000 !important;   
}
.modal-backdrop {
  z-index: 9999 !important;   
}

.Minors {
  width: 90%;
  margin: 20px auto;
}

.minorButton {
  background-color: #fc7600;
  
}

/* CSS for table to make it scrollable */
.scrollable-table {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.scrollable-table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

/* CSS for Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  color: white;
  padding: 20px 40px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer p {
  margin: 0;
}